{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
<div class="media content-section">
  <div class="container-fluid">
    <div class="row mx-0">
      <div class="col-3">
        <div>
          <small class="font-weight-bold text-light">Date</small>
        </div>
      </div>
      <div class="col-3">
          <small class="font-weight-bold text-light">Owner</small>
      </div>
      <div class="col-6">
          <small class="font-weight-bold text-light">Title and description of the change</small>
      </div>
    </div>
  </div>
</div>
<article class="content-section">
  <div class="container-fluid">
    <div class="row mx-0">
      <div class="col-3">
        <div class="media-body">
          <small class="font-weight-normal">{{ post.date_posted }}</small>
        </div>
      </div>
      <div class="col-3">
          <small class="text-muted">{{ post.author }}</small>
      </div>
      <div class="col-6">
          <small class="text-muted">{{ post.title }}</small>
      </div>
    </div>
  </div>
</article>
    {% endfor %}
{% endblock content %}