{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
<div class="media content-section">
  <div class="container-fluid">
    <div class="row mx-0">
      <div class="col">
        <div class="media-body">
          <small class="font-weight-light ">Date</small>
        </div>
      </div>
      <div class="col">
        <div class="media-body">
          <small class="text-muted">Owner</small>
        </div>
      </div>
      <div class="col">
        <div class="media-body">
          <small class="text-muted">Title</small>
        </div>
      </div>
      <div class="col">
        <div class="media-body">
          <small class="text-muted">Reason and impact</small>
        </div>
      </div>
    </div>
  </div>
</div>
<article class="media content-section">
  <div class="container-fluid">
    <div class="row mx-0">
      <div class="col">
        <div class="media-body">
          <small class="font-weight-light ">{{ post.date_posted }}</small>
        </div>
      </div>
      <div class="col">
        <div class="media-body">
          <small class="text-muted">{{ post.author }}</small>
        </div>
      </div>
      <div class="col">
        <div class="media-body">
          <small class="text-muted">{{ post.title }}</small>
        </div>
      </div>
      <div class="col">
        <div class="media-body">
          <small class="text-muted">{{ post.content }}</small>
        </div>
      </div>
    </div>
  </div>
</article>
    {% endfor %}
{% endblock content %}